* {
  box-sizing: border-box;
}

header,
nav,
footer,
article {
  transition: background-color 1.3s, color 0.9s;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  background-color: #f4f4f4;
  color: #333;
  transition: background-color 1.8s, color 0.9s;
}

header {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2c3e50;
  padding: 17px 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

nav a {
  display: inline-block;
  background-color: #34495e;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.2s;
}

nav a:hover {
  background-color: #1abc9c;
}

main {
  padding: 0 20px;
}

section {
  margin-bottom: 30px;
}

article {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  max-width: 400px;
}

h2 {
  border-bottom: 2px solid #2c3e50;
}

#projects-grid{
  display: flex;
  gap: 16px;
}

footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 15px;
}

nav.scrolled {
  background-color: #1a252f;
  padding: 8px 0;
}

nav a.active {
  background-color: #5d1abc;
}

#theme-toggle {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 8px 12px;
}

body.dark-mode {
  background-color: #090933;
  color: #e0e0e0;
}

body.dark-mode article {
  background-color: #2a2a3e;
  color: #e0e0e0;
  border-color: #444;
}

body.dark-mode header,
body.dark-mode nav,
body.dark-mode footer {
  background-color: #0c0c59;
}

@media (max-width: 768px) {
  nav {
    flex-wrap: wrap;
    gap: 8px;
  }

  nav a {
    padding: 11px 14px;
    font-size: 14px;
  }

  .projects-grid {
    flex-direction: column;
  }

  article {
    max-width: 100%;
  }
}
@media (max-width:480px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 22px;
    }
}